
.imagem-inicial {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.texto-inicial {
  text-align: center;
}

.texto {
  padding: 30px;
}

.titulo-pagina {
  color: #ffbe40;
  margin-bottom: 15px; 
}

.carta-rotacionada {
  -ms-transform: rotate(45deg); 
  transform: rotate(45deg);
}
.carta-horizontal {
  -ms-transform: rotate(90deg); 
  transform: rotate(90deg);
}

.footer {
  margin-top: 180px;
  padding: 45px;
  background-color: #271f63;
  color: #fff;
}



